body {
    font-family: sans-serif;
    background-color: #ededed;
}

.graphs {
    /* border: 3px solid red; */
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    /* height: 1000px; */
}



#pie-chart {
    /* background-image: url('/home/anurag/Documents/SIH/sentiment-analysis/web-app/tests/static/img/pie_chart.gif'); */
    /* border: 1px solid black; */
    width: 38%;
    height: 400px;
    border-radius: 8px;
    flex-wrap: wrap;
    float: left;
    margin-left: 25px;
    margin-right: 20px;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    
}

#pie-chart:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.02);
}

#day-wise {
    /* background-image: url('/home/anurag/Documents/SIH/sentiment-analysis/web-app/tests/static/img/day_wise_graph.gif'); */
    /* border: 1px solid aqua; */
    border-radius: 8px;
    width: 50%;
    height: 410px;
    flex-wrap: wrap;
    margin: 10px;
    margin-left: 20px;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

#day-wise:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.02);
}

#six-months {
    /* background-image: url('/home/anurag/Documents/SIH/sentiment-analysis/web-app/tests/static/img/six_months_graph.gif'); */
    /* border: 1px solid firebrick; */
    border-radius: 8px;
    width: 512px;
    height: 400px;
    flex-wrap: wrap;
    margin: 5px;
    margin-left: 25px;
    margin-bottom: 2px;
    float: bottom;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

#six-months:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.02);
}


#top-emps {
    border-radius: 8px;
    width: 512px;
    height: 400px;
    flex-wrap: wrap;
    margin: 5px;
    margin-left: 40px;
    margin-bottom: 2px;
    float: bottom;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

#top-emps:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.02);
}



#advanced-analytics {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    float: right;
    margin-right: 15px;
    margin-top: 400px;
    margin-left: 80px;
    border: 2px solid #D7FDEC;
    color: #FF3C38;
}

#advanced-analytics:hover {
    background-color: #FF3C38;
    font-weight: bold;
    color: wheat;
    transform: scale(1.05);
}