#empty-space {
    height: 5px;
}

#head-test {
    margin-left: 25px;
	background: -webkit-linear-gradient(#00CC66, #007EA7);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#analyser {
    background-color: #282b28;
    width: 50%;
    height: 120px;
    border: 4px solid #2B3A67;
    border-radius: 15px;
    margin: auto;
    display: block;

    transform:
        perspective(800px);
    transition: transform 1s ease 0s;
    border-radius: 4px;
    box-shadow:
        rgba(0, 0, 0, 0.024) 0px 0px 0px 1px,
        rgba(0, 0, 0, 0.05) 0px 1px 0px 0px,
        rgba(0, 0, 0, 0.03) 0px 0px 8px 0px,
        rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;
}

#analyser:hover {
    transform: perspective(800px) rotateY(-4deg);
}

#rec-btns {
    display: flex;
    width: 40%;
    left: 50%;
    margin-top: 8px;
    transform: translate(74%);
}

.btn {
    font-size: medium;
    color: #FDFFFC;
    border: 2px solid;
    border-radius: 5px;
    padding: 4px;
    display: flex;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transition: transform 0.2s ease 0s;
}

.btn:hover {
    color: #161925;
    font-weight: bold;
    transform: scale(1.2);

}



#init {
    background-color: #3185FC;
    border-color: #004E89;
    width: fit-content;
    margin: auto;
}


#start {
    background-color: #2ecc71;
    border-color: #036016;
    width: fit-content;
    margin: auto;
}


#stop {
    background-color: #E71D36;
    border-color: #C1292E;
    margin: auto;
}

#title {
    background: -webkit-linear-gradient(#00CC66, #007EA7);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.file-upload {
    background-color: #F8F4A6;
    border: 4px solid #02C39A;
    border-radius: 5px;
    padding: 10px;
    margin-top: 120px;
    margin-left: 320px;
    width: fit-content;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

#context {
    background-color: #BFEDEF;
    margin-right: 10px;
}

#file-submit {
    background-color: #BFEDEF;
    border-radius: 3px;
    color: #161925;
    margin-left: 10px;
    font-weight: bold;
}

#file-submit:hover {
    transform: scale(1.02);
}

#train-btn {
    background-color: #00BD9D;
    border: 1px solid #85FF9E;
    border-radius: 5px;
    color: #FDFFFC;
    margin-top: 30%;
    margin-left: 80%;
    margin-right: 5px;
    font-size: large;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

#train-btn:hover {
    background-color: #FDFFFC;
    color: #00BD9D;
    transform: scale(1.05);
}


input::file-selector-button {
    background-color: #BFEDEF;
    font-weight: bold;
    color: #161925;
}

input::file-selector-button:hover {
    transform: scale(1.02);
}



td,
th {
    border: 1px solid #0F084B;
    /* padding: 0.5rem; */
    font-size: medium;
}

#analysis-result {
    display: none;
    margin-top: 100px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

th {
    background-color: #0582CA;
    color: #FFEE93;
}

td {
    background-color: #79ADDC;
    color: #282b28;
}

/* Loading Shit*/
@keyframes quiet {
    25% {
        transform: scaleY(.6);
    }

    50% {
        transform: scaleY(.4);
    }

    75% {
        transform: scaleY(.8);
    }
}

@keyframes normal {
    25% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(.4);
    }

    75% {
        transform: scaleY(.6);
    }
}

@keyframes loud {
    25% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(.4);
    }

    75% {
        transform: scaleY(1.2);
    }
}

.boxContainer {
    display: none;
    justify-content: space-between;
    margin-top:100px;
    margin-left: 50%;
    height: 64px;
    --boxSize: 8px;
    --gutter: 4px;
    width: calc((var(--boxSize) + var(--gutter)) * 5);
}

.box {
    transform: scaleY(.4);
    height: 100%;
    width: var(--boxSize);
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    border-radius: 8px;
}

.box1 {
    background: #12E2DC;
    animation-name: quiet;
}

.box2 {
    background: #357DED;
    animation-name: normal;
}

.box3 {
    background: #1C77C3;
    animation-name: quiet;
}

.box4 {
    background: #0C7489;
    animation-name: loud;
}

.box5 {
    background: #125E8A;
    animation-name: quiet;
}

#plutchik {
    justify-content: center;
    width: 800px;
    height: 500px;
    margin-left: 25%;
}

#plutchik-image {
    width: 800px;
    height: 500px;
}

/* #sentiment-summary {
    background-color: #F3FFBD;
    border: 2px solid #EDE7B1;
    border-radius: 5px;
    display: none;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: 8px;
    margin-left: 45%;
    margin-top: 20px;
    text-align: center;
} */


